/**
 * 站点变量
 * 
 * #1 重置element-ui组件, 请查阅_element-ui__variable-lookup.scss官方变量列表进行重置, 必须保证变量名一致才能生效!
 * #2 站内变量
 */

// ---------- #1 ----------
$--color-primary: #17b3a3;
$--color-text-primary: #303133;


// ---------- #2 ----------
// Navbar
$navbar--background-color: $--color-primary;

// Sidebar
$sidebar--background-color-dark: #263238;
$sidebar--color-text-dark: #8a979e;

// Content
$content--background-color: #f1f4f5;
